@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/Login_RegisterLayout.cshtml";
}

<div class="lock-container ">
    <div class="panel panel-default text-center ">
        <div class="panel-body">

            <div class="row" >
                <div class="alert alert-success">
                    The Confirmation Email Has Been Successfully <a href="@Url.Action("Index","Home")" >Back To Home</a>
                </div>
                
            </div>
            </div>
</div>
</div>